@import url('/front-end/global/global.css');

#imgRaizProblemas {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    translate: -50%;
    transform: translateY(-40%);
}

/*Parte da Verificação da Empresa*/
#verificacao{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 100px;
}

#legendaV1{
    margin-left: 200px;
}

#legendaV2{
    margin-bottom: 50px;
    margin-left: 400px;
}

#descricaoVerificacao{
    margin-bottom: 50px;
}

/* -------------------------------- */