@import url('/front-end/global/global.css');

#imgRaizProblemas {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    translate: -50%;
    transform: translateY(-40%);
}

#containerAboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#imgHardware2 {
    margin-top: 10%;
}

#imgTextAboutUs {
    margin-top: 10%;
}

.TitleAboutUs {
    text-align: center;
    margin-top: 3%;
    padding: 0;
}

.title1 {
    font-weight: bold;
    font-size: 36px;
}

.title2 {
    font-weight: bold;
    font-size: 36px;
    color: #DAC072;
    margin-left: 16%;
}

#informations {
    margin-top: 10%;
}

#imgFornecedores {
    margin-top: 2%;
}