@import url('/front-end/global/global.css');

#imgRaizProblemas {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 50%;
    translate: -50%;
    transform: translateY(-40%);
}

/*Parte da Verificação da Empresa*/
#verificacao {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* -------------------------------- */

#containerAboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 10%;
}

#imgHardware2 {
    margin-top: 10%;
}

#imgTextAboutUs {
    margin-top: 10%;
}

.TitleAboutUs {
    text-align: center;
    margin-top: 5%;
    padding: 0;
}

.title1 {
    font-weight: bold;
    font-size: 36px;
}

.title2 {
    font-weight: bold;
    font-size: 36px;
    color: #DAC072;
}

#informations {
    margin-top: 10%;
}

#imgFornecedores {
    margin-top: 2%;
}

#services {
    margin-top: 5%;
}

#servico {
    display: none;
}

#ourServices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgKeyboard {
    z-index: -1;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
}

#sectionContato {
    margin-bottom: 10%;
}

form {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#formulario {
    margin-top: 100px;
    background-color: #ffffff;
    padding: 30px 50px;
    margin-left: 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 700px;
    height: auto;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "coluna1 coluna2";
    width: 100%;
    align-items: center;
    justify-content: center;
}

#gridColumn {
    grid-area: coluna1;
}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.btnForm {
    background: #1B2029;
    border: 1px solid #1B2029;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    border-radius: 2px;
    color: #ffffff;
    padding: 5px 20px;
    margin-top: 20px;
    transition: background .5s;
    align-self: center;
}

.btnForm:hover {
    background-color: transparent;
    color: #1B2029;
    transition: background .5s;
    font-weight: bold;
}

#contactTitle {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self: center;
}

.inputTItle {
    font-size: 16px;
    opacity: 0.3;
    margin-top: 20px;
}

.inputForm {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    font-size: 14px;    
}

#gridColumn input {
    width: 208px;
    height: 28px;
}

.inputForm:focus {
    border: solid 1px #DAC072;
}

.inputForm::placeholder {
    font-size: 14px;
    opacity: 0.3;
    font-family: 'Roboto', sans-serif;
}

#mensagem {
    align-self: flex-end;
    grid-area: coluna2;
}

#highlights {
    margin-top: 10%;
}

#destaques {
    margin-bottom: 5%;
}

i {
    color: white;
    font-size: 24px;
}