/*Responsividade header */
@media (min-width: 1000px) and (max-width: 1400px) {
    #imgRaizProblemas {
        width: 500px;
        position: absolute;
        z-index: 1;
        top: 40%;
        left: 50%;
        translate: -50%;
        transform: translateY(-40%); 
    }
}

@media (min-width: 890px) and (max-width: 1000px) {
    #imgRaizProblemas {
        width: 500px;
        position: absolute;
        z-index: 1;
        top: 35%;
        left: 25%;
        translate: -25%;
        transform: translateY(-35%);
    }
}

@media(max-width: 991px) {
    .navbar-nav {
        margin-left: 53%;
        margin-top: 20px;
    }

    .navbar {
        height: auto;
    }
}

@media (min-width: 710px) and (max-width: 890px) {
    #imgRaizProblemas {
        width: 300px;
        position: absolute;
        z-index: 1;
        top: 35%;
        left: 50%;
        translate: -50%;
        transform: translateY(-35%);
    }

    #rootTecnologies {
        height: 25px;
        margin-left: 20px;
    }
}

@media (min-width: 600px) and (max-width: 710px) {
    #imgRaizProblemas {
        width: 300px;
        position: absolute;
        z-index: 1;
        top: 15%;
        left: 25%;
        translate: -25%;
        transform: translateY(-15%);
    }

    #rootTecnologies {
        height: 25px;
        margin-left: 20px;
    }
}

@media(max-width: 600px) {
    #imgRaizProblemas {
        width: 300px;
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 50%;
        translate: -50%;
        transform: translateY(-10%);
    }

    #rootTecnologies {
        height: 25px;
        margin-left: 20px;
    }
}

@media (max-width: 1200px) {
    #rodape{
        background-color: #1B2029;
        width: 100%;
        height: auto;
        margin-top: 103px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 50px;
    }

    #logoRodape{
        width: 150px;
    }

    #descricaoRodape{
        width: 90%;
    }
}

/*Renposividade main*/

@media (min-width: 425px) and (max-width: 900px) 
{
    .title1 {
        font-size: 20px;
    }

    .title2 {
        font-size: 20px;
    }

    #containerAboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #imgHardware2 {
        width: 336px;
    }

    #imgTextAboutUs {
        width: 336px;
        height: auto;
    }

    #verificacao {
        width: 100%;
        height: auto;
    }

    #descricaoVerificacao {
        width: 400px;
        height: auto;
    }

    #titleServices {
        width: 90%;
    }

    #services {
        display: none;
    }

    #servico {
        width: auto;
        display: block;
        margin-top: 10%;
    }

    #imgKeyboard {
        display: none;
    }

    #formulario {
        width: 95%;
        margin: 0;
        margin-left: 2%;
    }

    .inputForm {
        width: 70%;
        outline: none;
    }

    #destaques {
        width: 350px;
        height: auto;
    }

    #rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    #divLorem {
        width: 100%;
        margin-left: 10%;
    }

    #descricaoRodape {
        text-align: center;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) 
{
    .title1 {
        font-size: 40px;
    }

    .title2 {
        font-size: 30px;
    }

    #containerAboutUs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #imgHardware2 {
        width: 336px;
    }

    #imgTextAboutUs {
        width: 336px;
        height: auto;
    }

    #verificacao {
        width: 100%;
        height: auto;
    }

    #descricaoVerificacao {
        width: 400px;
        height: auto;
    }

    #titleServices {
        width: 90%;
    }

    #services {
        display: none;
    }

    #servico {
        width: auto;
        display: block;
        margin-top: 10%;
    }

    #imgKeyboard {
        display: none;
    }

    #formulario {
        width: 95%;
        margin: 0;
        margin-left: 2%;
    }

    .inputForm {
        width: 70%;
        outline: none;
    }

    #destaques {
        width: 350px;
        height: auto;
    }

    #rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   

    #divLorem {
        width: 100%;
        margin-left: 10%;
    }

    #descricaoRodape {
        text-align: center;
    }
}