@import url('../global/global.css');

#imgRaizProblemas {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 30%;
    translate: -50%;
    transform: translateY(-40%);
}

#filtro{
    width: 290px;
    height: 510px;
    background-color: #1B2029;
    margin-top: 70px;
    margin-left: 100px;
    border-radius: 10px;
}

.filtroProdutos{
    padding: 20px;
    padding-bottom: 0;
}

.textFiltro{
    font-weight: 200 !important;
    margin-left: 10px;
    cursor: pointer;
}

.checkbox{
    cursor: pointer;
    margin-left: 30px;
}

#btnComprar {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 9.5%;
    translate: -50%;
    transform: translateY(-40%);
    background-color: transparent;
    border: 1px solid #DAC072;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 12px;
    transition: background .5s;
}

#btnComprar:hover {
    background-color: #DAC072;
    cursor: pointer;
    transition: background .5s;
}