@import url('../global/global.css');

#imgRaizProblemas {
    position: absolute;
    z-index: 1;
    translate: -50%;
    transform: translateY(-40%);
    margin-top: 25%;
    margin-left: 10%;
}

#filtro{
    width: 290px;
    height: 510px;
    background-color: #1B2029;
    margin-top: 70px;
    margin-left: 100px;
    border-radius: 10px;
}

.filtroProdutos{
    padding: 20px;
    padding-bottom: 0;
}

.textFiltro{
    font-weight: 200 !important;
    margin-left: 10px;
    cursor: pointer;
}

.checkbox{
    cursor: pointer;
    margin-left: 30px;
}

#btn-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnComprar {
    position: absolute;
    z-index: 1;
    translate: -50%;
    transform: translateY(-40%);
    left: 0;
    margin-top: 85%;
    margin-left: 14%;
    background-color: transparent;
    border: 1px solid #DAC072;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 12px;
    transition: background .5s;
}

#btnComprar:hover {
    background-color: #DAC072;
    cursor: pointer;
    transition: background .5s;
}

#container-produtos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.produtos {
    border: 0.5px solid #1B2029;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
}

.nomeProduto {
    font-size: 12px;
}

.precoProduto {
    font-size: 12px;
}

.buy {
    background-color: #DAC072;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2px 12px;
    transition: background .5s;
}

.buy:hover {
    background-color: transparent;
    border: 1px solid #DAC072;
    color: #1B2029;
    cursor: pointer;
    transition: background .5s;
}