@import url('../global/global.css');

#filtro {
    width: 350px;
    height: 695px;
    background-color: #1B2029;
    margin-top: 50px;
    border-radius: 10px;
    position: absolute;
    margin-left: 10px;
}

.filtroProdutos {
    padding: 20px;
    padding-bottom: 0;
}

.textFiltro {
    font-weight: 200 !important;
    margin-left: 10px;
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
    margin-left: 30px;
}

#filtroProdutos{
    grid-area: produtos;
}

#filtroMarcas{
    grid-area: marcas;
}

#btn-tittle {
    display: grid;
    z-index: 1;
    justify-items: flex-start;
    position: absolute;
    margin-left: 110px;
    margin-top: 330px;
}

#btnComprar {
    z-index: 1;
    background-color: transparent;
    border: 1px solid #DAC072;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 12px;
    transition: background .5s;
    margin-top: 30px;
}

#btnComprar:hover {
    background-color: #DAC072;
    cursor: pointer;
    transition: background .5s;
}

#container-produtos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.produtos {
    border: 0.5px solid #1B2029;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
}

#placaVideo{
    border: 0.5px solid #1B2029;
    width: 880px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
}

.nomeProduto {
    font-size: 12px;
}

.precoProduto {
    font-size: 12px;
}

.buy {
    background-color: #DAC072;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    color: #FFFFFF;
    padding: 2px 12px;
    transition: background .5s;
    border: 1px solid #DAC072;
}

.buy:hover {
    background-color: transparent;
    border: 1px solid #DAC072;
    color: #1B2029;
    cursor: pointer;
    transition: background .5s;
}

#range::-webkit-slider-runnable-track {
    background: #B29D5E;
}

#range::-webkit-slider-thumb {
    background: #e2d6bc;
}

#rangeEPrecos{
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-area: precos;
}

#precos{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.valor{
    font-size: 13px;
}

#precoTrezentos{
    margin-left: 5px;
}

#precoMil{
    text-align: center;
}

#precoQuatroMil{
    text-align: right;
    margin-right: 5px;
}

#btnFiltrar{
    width: 120px;
    height: 45px;
    border-radius: 10px;
    background-color: #DAC072;
    font-weight: 500;
    font-size: 14px;
}

#btnFiltrar:hover{
    background-color: #E8CB8B;
}

#btnDesfiltrar{
    width: 50px;
    height: 45px;
    border-radius: 10px;
    background-color: #DAC072;
    font-weight: 500;
    font-size: 14px;
}

#btnDesfiltrar:hover{
    background-color: #E8CB8B;
}

#buttons{
    display: flex;
    justify-content: center;
    grid-area: botoes;
}